<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!-- In xml configuration, you can import other context files -->
    <import resource="utilSchemaContext.xml" />

    <!-- As you can see, it is possible to use index or name for setting the constructor params -->
    <bean id="person" class="com.infinity.spring.applicationcontext.domain.Person"
          init-method="postConstruct"
          destroy-method="onDestroy">
        <constructor-arg index="0" value="Tony Stark"/>
        <constructor-arg name="age" value="100"/>
    </bean>
    <alias name="person" alias="anotherPerson" />
</beans>